.web-logo{
    width:180px;
    /* margin-left:30%; */
    margin-left:0%;
}

.navbar-brand{
    margin-left:4%;
}

.nav-link{
    margin:auto 15px;
    padding-bottom: 8px;
    font-family: "Montserrat"
}

.nav-insta{
    position:relative;
    bottom:4px;
}

.nav-item{
    padding-top:10px;
}


h1{
    font-family:"Montserrat";
    font-size:50px;
    font-weight:900;
    line-height:1.5;
    margin-left:9.5%;
    margin-top:200px;
}

h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    line-height:2;
}

p{
    font-size:20px;
    margin-left: 9.5%;
    
}

.title{
    padding-top:77px;
}

.nastar-img{
    /* position:relative;
    left:150px; */
    padding-left:30%;
    width: 70%;
    margin-top:27%;
}

.bahan{
    margin-right:100px;
}

.info{
    padding-bottom:250px;
}

.info-bottom{
    padding-bottom:190px;
}